.mat-card {
    max-width: 600px;
    margin: 2em auto;
    padding: 20px;
    text-align: left;
    background-color: white;

}

.header-box{
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 45px;
   }

.full-width{
    width: 80%;
}

.mat-form-field{
    margin-left: 10px;
}

.mat-raised-button{
    margin-left: 10px;
    margin-bottom: 10px;
}

.mat-card-content {
    margin: 20px;
}