<div class="header-box"><header>Add New Patient</header></div>
<mat-card>
    <mat-card-content>
        <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>First Name </mat-label>
                <input type="text" formControlName="given" matInput required/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Family Name </mat-label>
                <input type="text" formControlName="family" matInput required/>
                </mat-form-field>
            </div>        
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Phone Number </mat-label>
                <input type="text" formControlName="telecom" matInput required/>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>use</mat-label>
                    <mat-select formControlName="telecomSelect" (change)="selectTelecomUse($event)" required>
                        <ng-container *ngFor="let telecomSelect of telecomOption">
                            <mat-option [value]="telecomSelect">{{telecomSelect}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
    
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Gender </mat-label>
                    <mat-select formControlName="gender" placeholder="Select your gender" (change)="selectGender($event)" required>
                    <ng-container *ngFor="let gender of genderOption">
                        <mat-option [value]="gender">{{gender}}</mat-option>
                    </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
            
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="dob" formControlName="birthDate">
                    <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                    <mat-datepicker #dob></mat-datepicker>
                  </mat-form-field>
            </div>
    
            <button mat-raised-button color="primary" id="submit">Submit</button> 
        </form>
        <div *ngIf="msgTrue">Patient successfully created!: <a href="https://hapi.fhir.org/baseR4/Patient/{{url}}" target="_blank">https://hapi.fhir.org/baseR4/Patient/{{url}}</a></div>
    </mat-card-content>
</mat-card>
  
