<div> <h1>Patient testing records</h1>
<h2 *ngIf="entries">Test result from : {{entries[1].resource.code.text}}</h2>
<div class="covid-table">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef > Report ID </th>
      <td mat-cell *matCellDef="let element"><a href="https://hapi.fhir.org/baseR4/Observation/{{element.resource.id}}" target="_blank">{{element.resource.id}} </a></td>
    </ng-container>
  
      <!-- Date Column -->
      <ng-container matColumnDef="effectiveDateTime">
        <th mat-header-cell *matHeaderCellDef> Updated Date </th>
        <td mat-cell *matCellDef="let element"> {{element.resource.effectiveDateTime}} </td>
      </ng-container>

      <!-- Result Column -->
      <ng-container matColumnDef="text">
        <th mat-header-cell *matHeaderCellDef> Result </th>
        <td mat-cell *matCellDef="let element"> {{element.resource.valueCodeableConcept.text}} </td>
      </ng-container>


    <!-- Test Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.resource.status}} </td>
    </ng-container>
  
    <!-- Patient Column -->
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef> Patient Detail </th>
      <td mat-cell *matCellDef="let element"> <a href="https://hapi.fhir.org/baseR4/{{element.resource.subject.reference}}" target="_blank">{{element.resource.subject.reference}}</a> </td>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
</div>