<mat-toolbar color="primary">
    <span><a mat-flat-button color=primary href="/">FHIR APP</a></span>
    <span class="example-spacer"></span>
    <a mat-flat-button color=primary href="/covid-19">COVID-19</a>
    <a mat-flat-button color=primary href="/new-patient">New Patient</a>
</mat-toolbar>
<router-outlet></router-outlet>