/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700;900&family=Playfair+Display:wght@600&display=swap');
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Playfair Display', serif;}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
